<div class="col-sm-12 col-md-6" style='background: url("<%= movie.backdrop_url %>") top center; background-size: cover;'>
		<div class="col-sm-6">
			<div class="thumbnail movie-tile">
			  <img height=300 src="<%= movie.poster_url %>" alt="<%= movie.title %>">
			</div>
		</div>
		<div class="col-sm-6">
		  <div class="caption">
		    <h3><%= movie.title %></h3>
				<h4><%= movie.release_date %></h4>
				<h4><%= __('Rate')%> : <%= movie.vote_average %></h4>
		    <p><%= movie.synopsis %></p>
		    <p>
					<a href="/movie/play/<%= movie.id %>" class="btn btn-primary" role="button"><%= __('Play')%></a>
				</p>
	  </div>
	</div>
</div>
